<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Online Hall Ticket Generation System</title>
</head>
<body>
    <header class="header-alt">
        <h1 class="header-title">Hall Ticket Portal</h1>
    </header>
    
    <main class="main-content-alt">
        <div class="options-container fade-in">
            <h2 class="options-title">Choose an Action</h2>
            <div class="options-list">
                <a class="options-link" href="{% url 'student_info' %}">Fill Student Information</a>
                <a class="options-link" href="{% url 'exam_selection' %}">Select Exam</a>
                <a class="options-link" href="{% url 'hall_ticket_display' %}">hall ticket </a>
            </div>
        </div>
    </main>
    
    <footer class="footer-alt">
        <p class="footer-text-alt">© 2023 University. All rights reserved.</p>
    < </footer> -->
<!-- </body>
</html> --> 


<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Online Hall Ticket Generation System</title>
</head>
<body>
    <header class="header-alt">
        <h1 class="header-title">Hall Ticket Portal</h1>
    </header>
    
    <main class="main-content-alt">
        <div class="options-container fade-in">
            <h2 class="options-title">Choose an Action</h2>
            <div class="options-list">
                <a class="options-link right" href="{% url 'student_info' %}">Fill Student Information</a>
                <a class="options-link right" href="{% url 'exam_selection' %}">Select Exam</a>
                <a class="options-link" href="{% url 'hall_ticket_display' %}">hall ticket </a>
            </div>
        </div>
    </main>
</body>
</html>
